.formWrapper {
  margin: 1em;
}

.labelWrapper {
  display: inline-block;
  width: 20%;
  text-align: right;
  padding: 5px;
}

input {
  vertical-align: top;
  margin: 5px;
  width: 60%;
}

textarea {
  width: 60%;
}
